@model List<Qulix.Logic.Models.WorkerViewModel>
@{
    ViewBag.Title = "GetAll";
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>Identifier</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Patronymic</th>
            <th>DateRecruitment</th>
            <th>Position</th>
            <th>Company Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var worker in Model)
        {
            <tr>
                <td>@worker.WorkerId</td>
                <td>@worker.Name</td>
                <td>@worker.Surname</td>
                <td>@worker.Patronymic</td>
                <td>@worker.DateRecruitment</td>
                <td>@worker.Position</td>
                <td>@worker.CompanyId</td>
        </tr>
        }
    </tbody>
</table>

