@model List<Qulix.Logic.Models.WorkerViewModel>

@foreach (var worker in Model)
{
    <tr>
        <td>@worker.WorkerId</td>
        <td>@worker.Name</td>
        <td>@worker.Surname</td>
        <td>@worker.Patronymic</td>
        <td>@worker.DateRecruitment</td>
        <td>@worker.Position</td>
        <td>@worker.CompanyName</td>
        <td>
            @using (Html.BeginForm("Delete", "Worker"))
            {
                @Html.Hidden("WorkerId", @worker.WorkerId)
                <input type="submit" class="btn btn-danger" value="Delete" />
            }
        </td>
        <td>@Html.ActionLink("Update", "Update", new { worker.WorkerId, @class = "btn btn-default" })</td>
    </tr>
}

