@model Qulix.Logic.Models.WorkerViewModel
@{
    ViewBag.Title = "Update";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Update Worker «@Model.Name»</h3>
    </div>

    @using (Html.BeginForm())
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.WorkerId)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                @Html.ValidationMessage(property.PropertyName)
                if (property.PropertyName != "WorkerId")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @if (property.PropertyName == "Position")
                        {
                            var selectList = new SelectList(
                                   new List<SelectListItem>
                                   {
                                        new SelectListItem {Text = "Developer", Value = "Developer"},
                                        new SelectListItem {Text = "QA", Value = "Qa"},
                                        new SelectListItem {Text =  "Manager", Value="Manager"},
                                        new SelectListItem {Text="Analyst", Value="Analyst" }
                                   }, "Value", "Text");

                            @Html.DropDownListFor(m => m.Position, selectList, "-----", new { @class = "form-control" })
                        }
                        else
                        {
                            @Html.TextBox(property.PropertyName, null,
                                new { @class = "form-control" })
                        }
                    </div>
                }
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Return to main page", "GetAll", null, new
       {
           @class = "btn btn-default"
       })
        </div>
    }
</div>



